:root {
  --color-background: #121212;
  --color-secondary-bg: #1e1e1e;
  --color-foreground: #ffffff;
  --color-accent: #673ab7;
  --color-accent-hover: #7c4dff;
  --color-border: #444;
  --color-shadow: rgba(0, 0, 0, 0.2);
}

[data-theme='light'] {
  --color-background: #ffffff;
  --color-secondary-bg: #f5f5f5;
  --color-foreground: #000000;
  --color-accent: #673ab7;
  --color-accent-hover: #7c4dff;
  --color-border: #ddd;
  --color-shadow: rgba(0, 0, 0, 0.1);
}